# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.v11.suo
*.v12.suo
*.v15.suo
*.v17.suo

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# DB & cache
*.db
*.db-wal
*.v2
*.futdcache.v2
*.dtbcache.v2

# Project-specific files
*.metadata.v9.bin
*.projects.v9.bin
*.strings.v9.bin
DocumentLayout.json