# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Others
*.db
*.DS_Store

# Test results
TestResults/

# Paketler
packages/ 